html {
  background-color: #000000;
  height: 100%
}

h2 {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
}

h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
}

p {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
}

main {
  height: 45rem;
}

hr {
  color: #fff;
  margin: auto;
  width: 60%;
}

body {
  background-image: url("../images/background.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }

.social-icons li a {
  border-bottom: none;
  }

@media only screen and (min-width: 25em) {

  .social-icons li a {
    display: block;
  }

}
